UPLOADING DATA

In [46]:
import pandas as pd
data = pd.read_csv('/content/car price prediction data.csv')

In [103]:
data.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [48]:
data.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

Checking for null values

In [51]:
data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

TRAIN-TEST SPLIT OF DATA

In [52]:
x = data.iloc[:,[9,10,11,12,16,20]]
x

     wheelbase  carlength  carwidth  carheight  enginesize  horsepower
0         88.6      168.8      64.1       48.8         130         111
1         88.6      168.8      64.1       48.8         130         111
2         94.5      171.2      65.5       52.4         152         154
3         99.8      176.6      66.2       54.3         109         102
4         99.4      176.6      66.4       54.3         136         115
..         ...        ...       ...        ...         ...         ...
200      109.1      188.8      68.9       55.5         141         114
201      109.1      188.8      68.8       55.5         141         160
202      109.1      188.8      68.9       55.5         173         134
203      109.1      188.8      68.9       55.5         145         106
204      109.1      188.8      68.9       55.5         141         114

[205 rows x 6 columns]

In [53]:
y = data.iloc[:,[24]]
y

       price
0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
..       ...
200  16845.0
201  19045.0
202  21485.0
203  22470.0
204  22625.0

[205 rows x 1 columns]

In [64]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y , test_size = 0.2, random_state = 60)

FLATTENING OUTPUT DATA

In [88]:
import numpy as np
ytrain_arr = np.asarray(ytrain).astype('float32')
ytrain_flat = ytrain_arr.reshape(-1)

In [97]:
ytest_arr = np.asarray(ytest).astype('float32')
ytest_flat = ytest_arr.reshape(-1)

APPLYING RANDOM FOREST REGRESSOR

In [89]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor()
reg.fit(xtrain, ytrain_flat)

RandomForestRegressor()

In [91]:
ypred = reg.predict(xtest)
ypred

array([15119.63333333,  8828.6452381 ,  7161.26666667, 10034.47571429,
        8540.62607143,  7224.52      ,  5995.16721429, 34890.785     ,
       12358.        , 13372.26452381, 14124.42845238, 29031.55      ,
       10683.71416667, 12358.        , 10683.71416667, 13372.26452381,
       11143.80833333, 15324.14584635, 15119.63333333,  7834.06619048,
        7078.79083333,  8686.68      ,  7719.32      , 14569.725     ,
        9302.54142857, 16412.16513021,  7161.26666667, 21166.73571429,
       34970.79      , 15633.29583333, 29031.55      ,  8193.36333333,
        9896.08      ,  9867.52833333, 15570.32095238,  8564.54      ,
       37827.35      , 10327.9441811 ,  5746.41      ,  8062.0052381 ,
       34850.26      ])

EVALUATION OF MODEL

In [98]:
print(reg.score(xtest, ytest_flat))

0.8953788049931751

In [100]:
from sklearn import metrics
r2score = metrics.r2_score(ytest_flat, ypred)
print(f'The R2 score is {r2score}')

The R2 score is 0.8953788049931751

TESTING NEW SAMPLE

In [94]:
xtest.iloc[5]

wheelbase      93.1
carlength     166.8
carwidth       64.2
carheight      54.1
enginesize     91.0
horsepower     68.0
Name: 53, dtype: float64

In [95]:
ytest.iloc[5]

price    6695.0
Name: 53, dtype: float64

In [102]:
new = np.array([[93.1,166.8,64.2,54.1,91.0,68.0]])
result = reg.predict(new)
print("Your predicted price is ",result.astype('float32'))
print("Actual price is ",ytest.iloc[5].values.astype('float32'))

Your predicted price is  [7224.52]
Actual price is  [6695.]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(